body{
    margin: 0%;
}

.nav{
    background-color: crimson; 
}

.container{color: white; max-width: 1000px; font-size: xx-large;
}

.container > *{
    display: inline-block;
}

.list > div{
    display:inline-block
}